/* comment box from Dream */
.comment-box {
    padding: 0 50px;
    font-size: 16px;
    border-radius: 100px;
    background-color: #E1E2E1;
}

.comment-box-img {
    border-radius: 100%;
}

.comment{
    margin: 10px 0px;
}
/* end comment box------------------- */