
@import url('https://fonts.googleapis.com/css?family=Itim|Oswald');
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
/* @import "bootstrap-social.less"; */
.banner{
    height: 180px;
    font-size: 3em;
    width: 100%;
    background-image: url("banner.jpg");
    background-repeat: no-repeat;
    background-size:  cover;
}
nav{
  font-family: 'Itim';
  font-size: 20px;
}
nav-item{
  width: 200px;
}
.primary{
    background: #ef9a9a;
}

.primary-light{
    background: #ffcccb;
}

.primary-dark{
    background: #ba6b6c;
}

.secondary{
    background: #ffcdd2;
}

.secondary-light{
    background: #fff;
}

.secondary-dark{
    background: #cb9ca1;
}

.background-dark{
    background: #E1E2E1;
}
.background-light{
    background: #F5F5F6;
}
.log-out{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.edit-profile{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.event-card{
    padding: 10px 10px 10px 10px;
    height: 250px;
    width: 250px;
    margin: 5px 5px 5px 5px;
    background-color:#e6ccff;
}
.bold-font{
    font-weight: bold;
}
.bold-red-font{
    font-weight: bold;
    color: #cc0000;
}

.event-detail{
    background-color: #ffebea;
    /* width:100%; */

}
.event-detail-info{
    background-color: #ccffcc;
    font-family: 'Oswald', sans-serif;
    font-family: 'Itim', cursive;
    font-size: 20px;

}
.event-detail-contact{
    background-color: #ccccff;
}
.btn-save{
    background-color: #ff99ff;
    border-radius: 10px;
    margin-top: 7px;
    margin-right: 20px;

}
.btn-cancel{
    background-color: #b3ccff;
    border-radius: 10px;

}
.pointer {
    cursor: pointer;
}
.buy-btn {
    background-color: white;
    color: black;
    border: 2px solid #ff6699;
}

.buy-btn:hover {
    background-color: #ff6699;
    color: white;
}
.buy2-btn {
    background-color: white;
    color: black;
    border: 2px solid #ff8080;
}

.buy2-btn:hover {
    background-color: #ff8080;
    color: white;
}


.search-bar {
    height: 40px;
    display: inline-block;
}
#search-bar-content {
    height: 40px;
}

.search-bar:hover > #search-bar-content {
    display: inline;
}

.search-content {
    width: 400px;
    padding: 10px;
}
.search-content > div {
    margin: 10px;
}
.table-head{
  margin: 0% AUTO;
  padding: 10px;
  font-family: 'Itim';
}
.form-horizontal{
  width: 500px;
}
.form-group{
  margin: 0% auto;
}
.divtable{
  width: 100%;
}
#nameimg{
  font-size: 20px;
  padding: 10px;
  color: white;
}

footer{
  width:100%;
  font-family: 'Itim';
  text-align: center;
}
#iconfooter{
  margin: 0% 2% 1% 2%;
}
.footer-copyright{
  width: 100%;
  font-size: 20px;
}
#cannot-buy {
    display:block;
    border-radius: 20px;
    border: 2px solid #ff0066;
    text-align: center;
    padding: 20px;
    width: 100%;
}
